{% extends "master.html" %}

{% block title %}
  About
{% endblock %}


{% block content %}
<h1>About Page</h1>
Autorská práva na webu
Ochrana obsahu:

Textový obsah: Články, blogové příspěvky, eseje a jiné psané materiály na webu jsou chráněny autorskými právy.
Obrázky a grafika: Fotografie, ilustrace, grafiky a další vizuální prvky, které jsou umístěny na webových stránkách, podléhají autorské ochraně.
Video a audio: Videa, filmy, podcasty, zvukové klipy a jiné audiovizuální formáty jsou chráněny autorským právem.
Software a kód: Kód používaný k tvorbě webových stránek (např. HTML, CSS, JavaScript) a software publikovaný na webu jsou považovány za chráněné autorské dílo.
Práva autora:

Autor nebo vlastník autorských práv má výlučné právo na kopírování, distribuci, úpravy a prezentaci svého díla.
Bez souhlasu autora nebo licence nelze obsah kopírovat, upravovat ani veřejně sdílet.
Použití obsahu:

Pokud chcete použít obsah chráněný autorskými právy na svém webu, musíte získat souhlas autora nebo zakoupit licenci.
Citování obsahu nebo použití krátkých úryvků může být povoleno za předpokladu, že uvedete zdroj a autorovi přiznáte uznání (tzv. fair use nebo citace).
Zákonné výjimky:

Některé použití může být legální i bez souhlasu autora, například pro účely výuky, kritiky, recenze nebo zpráv. Tyto výjimky se liší podle jurisdikce a specifických podmínek.
Porušení autorských práv:

Pokud někdo použije obsah chráněný autorským právem bez souhlasu, může být žalován za porušení autorských práv. To může vést k právním krokům, finančním pokutám a odstranění obsahu.
Ochrana vlastního obsahu:

Pokud jste tvůrcem obsahu na webu, zvažte použití copyrightové notace a zvažte registraci autorských práv, pokud je to pro vás důležité.
Závěr
Autorská práva jsou zásadní pro ochranu tvůrčího obsahu na webu. Respektování autorských práv a získání řádného povolení pro použití cizího obsahu je nezbytné pro právní a etickou správnost.
{% endblock %}